<h1>Listing projects</h1>

<% if @projects.length > 0 %>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Project ID</th>
			<th>Issuer</th>
			<th>Keypass</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	
	<tbody>
	<% @projects.each do |project| %>
		<tr>
			<td><%= link_to project.name, project_zones_path(project) %></td>
			<td><%= project.project_key %></td>
			<td><%= project.issuer %></td>
			<td><%= project.keypass %></td>
			<td><%= link_to 'Show', project %></td>
			<td><%= link_to 'Edit', edit_project_path(project) %></td>
			<td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<% else %>
	<p>No projects</p>
<% end %>

<br>

<%= link_to 'New Project', new_project_path, class: "btn btn-success btn-lg" %>
