<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<% if current_user.has_role?(:admin, @project) %>
	<p>
	  <strong>Project ID:</strong>
	  <%= @project.project_key %>
	</p>

	<p>
	  <strong>Issuer:</strong>
	  <%= @project.issuer %>
	</p>

	<p>
	  <strong>Keypass:</strong>
	  <%= @project.keypass %>
	</p>
<% end %>
<% if policy(@project).edit? %>
	<%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', root_url %>
