<%= render 'shared/project_info' %>

<h1><%= t '.zones' %></h1>

<% if @zones.length > 0 %>
	<table class="table table-hover">
		<thead>
			<tr>
				<th><%= t '.id' %></th>
				<th><%= t '.name' %></th>
				<th><%= t '.dns_name' %></th>
				<th><%= t '.description' %></th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
		<% @zones.each do |zone| %>
			<tr>
				<td><%= link_to zone.id, project_zone_path(@project, zone.id) %></td>
				<td><%= zone.name %></td>
				<td><%= zone.dns_name %></td>
				<td><%= zone.description %></td>
				<td class="text-right">
					<% if current_user.has_role?(:admin, @project) || current_user.can_destroy_zone?(zone)  %>
						<%= link_to 'Destroy', project_zone_path(@project, zone.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
					<% end %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
<% else %>
	<p><%= t '.no_zones' %></p>
<% end %>

<% if current_user.has_role?(:admin, @project) || current_user.has_role?(:zone_creator, @project)  %>
	<%= link_to 'New Zone', new_project_zone_path(@project), class: "btn btn-lg btn-success" %>
<% end %>
