<div id="zone">
	<p>
		<strong>ID:</strong>
		{{zone.id}}
	</p>
	
	<p>
		<strong>Name:</strong>
		{{zone.name}}
	</p>
	
	<p>
		<strong>Description:</strong>
		{{zone.description}}
	</p>
	
	<p>
		<strong>DNS name:</strong>
		{{zone.dnsName}}
	</p>
</div>

{{#if changes}}
<div id="changes">
	<h2>Pending changes</h2>
	
	<ul>
	{{#each changes}}
		<li>{{startTime}}: {{status}} - {{additions}}, {{deletions}}</li>
	{{/each}}
	</ul>
</div>
{{/if}}

<div id="records">
	<h2>Zone Records</h2>
	
	<p>Note: The lower you set the TTL values, the more queries your records produce to the Google DNS servers. Therefore, setting a low TTL will result in a bigger bill from Google.</p>
	{{#if editAuthorativeEmailEnabled}}
		{{#if editingAuthorativeEmail}}
			<div class="form-inline" role="form">
				<div class="form-group" {{bind-attr class=":form-group authorativeEmailError:has-error"}}>
					<label for="authorativeEmail">Authorative Email</label>
					{{input id="authorativeEmail" class="form-control" type="email" placeholder="Enter Authorative Email" value=authorativeEmail}}
				</div>
				<a href="#" class="btn btn-info" {{action "saveAuthorativeEmail" on="click"}}>Save</a>
			</div>
		{{else}}
			{{#if canEdit}}
				<p><strong>Authorative Email:</strong> {{authorativeEmail}} <a href="#" {{action "editAuthorativeEmail"}} class="btn btn-default btn-xs">Edit</a></p>
			{{/if}}
		{{/if}}
	{{/if}}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Type</th>
				<th>Name</th>
				<th>TTL</th>
				<th>Data</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{{#each record in controller}}
				<tr>
					<td>{{record.type}}</td>
					<td>{{record.name}}</td>
					<td>{{record.ttl}}</td>
					<td class="datas">
						{{#each data in record.datas}}
							{{data}}<br/>
						{{/each}}
					</td>
					<td class="buttons text-right">
						{{#if canEdit }}
							{{record-buttons record=record edit-action="editRecord" remove-action="removeRecord"}}
						{{/if}}
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	
	{{#if isFormVisible}}
		<div id="record-adder" class="add-section">
			<div class="well">
				{{partial "form"}}
				
				<button class="btn btn-default btn-lg" {{action "toggleRecordForm" on="click"}}>Cancel</button>
				{{#if isAdding}}
				<button class="btn btn-success btn-lg" {{action "addRecord" on="click"}}>Add</button>
				{{/if}}
				{{#if isEditing}}
				<button class="btn btn-info btn-lg" {{action "saveRecord" recordForEdit on="click"}}>Save</button>
				{{/if}}
			</div>
		</div>
	{{else}}
		{{#if canEdit}}
			<button id="add-record" class="btn btn-success btn-lg" {{action "toggleRecordForm" on="click"}}>Add Record</button>
		{{/if}}
	{{/if}}
</div>


{{#if canEdit}}
<div>
	<button class="btn btn-primary btn-lg pull-right" {{action "save"}} {{bind-attr disabled="isSaving"}}>Save</button>
</div>
{{/if}}
<div>
	<a href="#" {{action "exit"}}>Back</a>
</div>